doctype html 
head 
    style 
        include ../public/stylesheets/style.css

body 
    #message 
        h1 Welcome to Greg's Project for CS 493: Cloud Application Development 
        h3 To login with Auth0 and receive a token for API use, click 
            a(href='/login') here